[submodule "src/third_party/livox/livox_ros_driver2"]
    path = src/third_party/livox/livox_ros_driver2
    url = https://github.com/Livox-SDK/livox_ros_driver2.git
    tag = 1.2.6
[submodule "src/third_party/livox/Livox-SDK2"]
    path = src/third_party/livox/Livox-SDK2
    url = https://github.com/Livox-SDK/Livox-SDK2.git
    tag = 1.3.1