# ==================================================
# Common
# ==================================================
CAMERA_TYPE=elp

# ==================================================
# ELP 48MP USB Camera
# ==================================================
# Udev symlink for the target USB camera.
# Change this when adding another USB camera or changing udev rules.
ELP_DEVICE=/dev/usbcam-elp48mp-1

ELP_PRESET=mp02_1920x1080_30
ELP_CAMERA_NAME=elp48mp
ELP_FRAME_ID=elp48mp_camera_frame
ELP_NAMESPACE=/sensor/camera/elp/camera0

# ==================================================
# RouteCAM
# ==================================================
ROUTECAM_IP=192.168.1.10
ROUTECAM_RTSP_PORT=5005
ROUTECAM_RTSP_PATH=/routecam
ROUTECAM_LATENCY=0
ROUTECAM_PRESET=rtsp_1080p
ROUTECAM_CAMERA_NAME=routecam
ROUTECAM_FRAME_ID=routecam_camera_frame
ROUTECAM_NAMESPACE=/sensor/camera/routecam/camera0
